/* Ensures the footer sticks to the bottom of the page */
.page-container {
    display: flex;
    flex-direction: column;
}

.content-wrap {
    flex: 1; /* Expands to take up available space, pushing the footer down */
    padding: 20px; /* Optional padding for your main content */
}

.footer {
    background-color: #ffb114;
    color: #000000;
    text-align: center;
    padding: 20px 40px;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
    font-size: 14px;
}

.social-icons .footer-icon {
    font-size: 24px;
    color: #000000;
    transition: color 0.3s ease;
}

.social-icons .footer-icon:hover {
    color: #000000; /* LinkedIn, GitHub, Instagram, Facebook icons change color on hover */
}

.footer-icon {
    text-decoration: none;
}