.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.header-logo a{
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    color: #000000;
}
.header-buttons{
    display: flex;
}
.header-buttons div{
    padding: 10px;
}
.login-btn a{
    color: #ffb114;
    text-decoration: none;
}
.menu-item a{
    color: #000000;
    text-decoration: none;
}


@media (max-width: 992px) {
    .header-logo{
        font-weight: bold;
        font-size: 30px;
    }
    .header-buttons{
        display: flex;
    }
    .header-buttons div{
        padding: 10px;
    }
}
@media (max-width: 768px) {
    .header-logo{
        font-weight: bold;
        font-size: 30px;
    }
    .header-buttons .login-btn{
        display: none;
    }
    .header-buttons .driver-reg-btn{
        display: none;
    }
}